# === Xcode ===
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# === Swift Package Manager ===
.build/
Packages/
Package.resolved

# === CocoaPods ===
Pods/
*.xcworkspace

# если хочешь коммитить workspace — закомментируй строку выше

# === Carthage ===
Carthage/Build/

# === fastlane ===
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# === Code Coverage ===
*.gcno
*.gcda

# === Logs ===
*.log

# === Playgrounds ===
timeline.xctimeline
playground.xcworkspace

# === Secrets ===
*.env
